@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import "./topBar.css";
@import "./table.css";
@import "./btn.css";

body {
    background-color: #3e94ec !important;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}